[user]
    name = Bernardo Fontes
    email = bernardoxhc@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[merge]
    tool = gvimdiff
[gui]
	fontui = -family \"Ubuntu Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[init]
	defaultBranch = main
